@import "vars";
@import "mixins";

nav {
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.3rem;
}


html, body, main {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  margin-top: 5rem;

  img {
    @include image-resize(64%, 36%);
  }

  .about_image {
    @include image-resize(100%, auto);
  }
  .video_skills {
    padding: 5%;
    img {
      padding: 2%;
    }
  }

  .software_knowledge {
    padding: 5%;
    img {
      padding: 2%;
    }
  }
}

.contactform {
  .hangouts {
    padding-bottom: 5%;
  }

  img {
    padding-right: 5%;
    @include image-resize(15%, 15%);
  }
}

